body {
    background: url(bg1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /* overflow: hidden; */
  }
.container{ 
    background: rgba(255, 248, 220, 0.705);
    text-align: center;
    margin-top: 2em;
    font-size: 1.5em;
    font-weight: 500;
    padding: 1em;
    width: 40em;
    border-radius: 3%;
    margin-bottom: 1em;
}
#task_name, #task_priority, #label_task, #label_priority{
    width: 15em;
    height: 2em;
    border-radius: 0.5em;
    color: rgb(19, 20, 73);
    border: black;
}
#label_task, #label_priority{
    width: 10em;
    color: rgb(19, 20, 73);
    text-align: left;
    margin-left: 1em;
}
#reset, #save{
    margin-top: 1em;
}
#save{
    margin-left:2.6em;
    margin-right: 0.2em;
}
@media screen and (max-width:576px) 
{
    .container{
        width: 15em;
    }
    #task_name, #task_priority{
        width: 10em;
    }
}
#table{
    /* border: 2px solid white; */
    text-align: center;
    width:80%;
    margin: auto;
}
.row{
    border-top: 0;
    text-align: center;
    width:100%;
    /* height: 2em; */
    margin: auto;
}
.col{
    /* border:2px solid blanchedalmond; */
    font-family:cursive;
    width: 50%;
    text-align: center;
    font-weight:500;
    /* font-size:1.25em!important; */
    word-wrap: break-word;
}
#filter{
    margin-bottom:1em; 
}
#filter .btn{
    width: 15em;
    margin:0.3em 1em
}

#task_tab, #priority_tab{
    background-color: rgb(38, 6, 68);
    color: white;
    font-size: 1.2em;
}
#task_tab{
    border-radius: 1em 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
}
#priority_tab{
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 1em 0 0;
}
.footer {
    position :fixed;
    left:0;
    bottom: 0;
    width:100%;
    background-color: black;
    text-align: center;
    font-size: larger;
}
.footer:hover {
    background-color: rgb(38, 6, 68);;

}